.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.header {
  background-color: rgb(5, 119, 85);
  height: 60px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 1px rgb(0, 0, 0);
}
.header__logo {
  display: flex;
  color: white;
  margin: 0 0 0 20px;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  text-shadow: 1px 1px 7px rgb(0, 0, 0);
}
.header__rightside-menu {
  margin: 10px 10px 0 0;
}
.header__rightside-menu_button {
  box-shadow: 0 1px 5px rgb(0, 0, 0);
  background-color: white;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  margin-right: 20px;
}
.footer {
  margin: 0;
  height: 50px;
  background-color: rgb(5, 119, 85);
  color: white;
  display: flex;
  align-items: center;
}
.footer__contacts {
  margin: 0 0 0 20px;
  font-size: 18px;
  text-shadow: 1px 1px 7px rgb(0, 0, 0);
}
