.header{
    background-color: black;
    height: 60px;
    margin:0;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.header__heading{
    margin:0 0 0 20px;
    padding:0;
    font-weight: 700;
}
.header__rightside-menu{
    margin: 10px 10px 0 0;
}
.header__rightside-menu_button{
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    color:white;
    margin-right: 20px;
}