@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('./components/App.css');

.body {
  margin: 0;
  color:white;
  font-family: "Roboto", ‘Arial’, sans-serif;
  display: flex;
  flex-direction: column;
}
